body {
    background-color: #F2F2F2;
}
/* ícone do livro  */
.book {
    position: absolute;
    left: 45%;
    top: 20%;
}
/* texto */
h1 {
    position: absolute;
    font-family: 'Londrina Solid', cursive;
    left: 38%;
    top: 45%;
    font-size: 42px;
    text-align: center;
    width: 292px;
    font-weight: 400;
    letter-spacing: 0.2px;
}
/* botões  */
.btn {
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    color: #2CC6D0;
    background-color: #F2F2F2;
    border: none;
    top: 90%;
    left: 40%;
    font-size: 16px;
}

.btn2{
    font-family: 'Work Sans', sans-serif;
    position: absolute;
    color: white;
    border: none;
    border-radius: 100px;
    top: 88%;
    left: 50%;
    font-size: 16px;
    background-color: #C8C8C8;
    box-shadow: -4px 12px 25px -10px rgba(0, 0, 0, 0.5);
    width: 143px;
    height: 40px;
}
/* estrelas  */
.rating {
    position: absolute;
    display: inline-block;
    top: 75%;
    left: 43%;
}
.rating_star {
    display: inline-block;
}
.active {
    background-image: url("https://svgur.com/i/csi.svg");
    display: inline-block;
    background-repeat: no-repeat;
}


/* responsividade */
@media screen and (max-width: 1060px) {
    .book {
        left: 50%;
    }
    .rating {
        left: 25%;
    }
    h1 {
        left: 50%;
    }
    .btn {
        left: 10%;
    }
    .btn2 { width:40%; left: 50%;}
    img { max-width: 100%; height: auto; }
}
/* moto g4 */
@media screen and (max-width: 768px) {
    .book {
        left: 37%;
    }
    .rating {
        left: 25%;
    }
    h1 {
        left: 12%;
    }
    .btn {
        left: 10%;
    }
    .btn2 { width:40%; left: 50%;}
    img { max-width: 100%; height: auto; }
}
/* iPad  */


@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
{
    .book {
        left: 45%;
    }
    .rating {
        left: 42%;
    }
    h1 {
        left: 35%;
    }
    .btn {
        left: 10%;
    }
    .btn2 { width:40%; left: 50%;}
    img { max-width: 100%; height: auto; }
}

/* iPhone 5  */
@media(max-width: 320px){ 
    h1 {
        left: 3%;
    }
    .rating {
        left: 20%;
    }
    .book {
        left: 35%;
    }
}
/* Galaxy Fold */
@media screen and (max-width: 300px) {
    h1 {
        left: 0%;
    }
}
/* surface duo */
@media screen 
    and (min-width: 500px) 
    and (max-width:768px) {
    h1 {
        left: 25%;
    }
    .book {
        left: 42%;
    }
    .rating {
        left: 35%;
    }
}
